<ion-view view-title="<img class='header-logo' src='img/heading-logo.png' />" >
<ion-content class="scroll-content ionic-scroll  has-header has-tabs">

  <div class="scroll" ng-bind-html="about">

  </div>
  <!-- <div class="list card">
    <div class="item item-avatar">
      <img src="img/c-logo.png">
      <h2>Carte Crêpes</h2>
      <p>
        Behind the John Medley West Building <br>
        The University of Melbourne<br>
        (enter via Gate 10)<br>
        Grattan St, Parkville
      </p>
    </div>

    <div class="item item-body">
      <img class="full-image" src="img/about.png">
      <p>OUR STORY</p>
      <p>The idea for Carte was born in a remote skiing village in the Japanese Alps back in 2010. Imagine being stranded on a mountain in a blizzard and not being able to eat anything except crêpes and sushi for a couple of days straight. Well, that's what happened to two Melbourne University students, Ben Vaughan and Elizabeth Brumby, and it wasn't as bad as you might think. Upon their return home, the creative juices were flowing, and the pair decided to combine their passion for food, travel and noble causes and start a crêperie of their own: a business that was small but dynamic, combining a new approach to a traditional concept with a strong social and environmental conscience.</p>
      <p>They set up a cart at a secret, somewhat hidden, location on campus and started selling crêpes to the University community. An instant community fixture, the cart was such a hit in its first year that there would often be queues snaking around campus at any given hour of the day. So, when the pair graduated at the end of 2011, they promptly signed up to build a real shop in the same spot and called their crêperie ‘Carte', paying homage to its beginnings.</p>
      <p>The rest, as they say, is crêpe history.</p>
      <p class="text-center">
        <img src="img/say-hello-282x300.png" alt="" />
      </p>
    </div>
  </div> -->
  <!-- <div class="free-intro" style="margin-top: -10px;">
    <button class="button button-primary button-block" id="updateButton" ng-click="checkForUpdates()" ng-disabled="checkbtn=='Checking for updates' || checkbtn=='Downloading update'">
      {{checkbtn}}
    </button>
  </div> -->
</ion-content>
</ion-view>
